body{
    font-family: "Open Sans", sans-serif;
    background-color: #fff;
    font-weight: 400;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    color: #fff;
}
.card{
    width: 80%;
    margin: auto;
    border: 1px solid #000;
}

.card-header{
    height: 20%;
    border-bottom: 1px solid #000;
    padding: 10px;
    background-color: #bc0723;
}

.card-body{
    height: 80%;
    padding: 15px;
}

.form-row{
    display: flex;
    width: 100%;
}

.group{
    width: 100%;
    margin: 10px;
}

.input-form{
    display: block;
    margin: 10px 3px;
    width: 98%;
    height: 25px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    font-size: 16px;
    outline: none;
}

.join{
    display: inline-flex;
}

.input-form-join{
    display: inline;
    width: 98%;
    height: 25px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid;
    font-size: 16px;
    outline: none;
}

.col-2{
    margin: 10px 0 10px 0;
    max-width: 10%;
}

.col-3{
    margin: 10px 0 10px 0;
    max-width: 23%;
}

.col-6{
    max-width: 50%;
}

.label-check{
    display: inline-block;
    margin-bottom: .5rem;
}

.input-textArea{
    display: block;
    border: 1px solid;
    font-size: 16px;
    width: 98%;
    margin-top: 5px;
    /*height: 50px;*/
    resize: none;
    outline: none;
}

/*input[type=number]::-webkit-inner-spin-button,
input[type=number]::webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}*/
/*
input[type="number"]{
    -webkit-appearance: textfield !important;
    margin: 0;
    -moz-appearance: textfield !important;
}*/

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button{
    -webkit-appearance: none;
    margin: 0;
}

.btn-save{
    color:#fff;
    background-color: #bc0723;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    text-align: start;
    text-decoration: none;
    margin: 10px;  
}

.btn-save:hover{
    background-color:#c53047;
    color: #000000;
}

.btn{
    font-size: 16px;
}

.btn-return{
    color:#fff;
    background-color: #6c757d;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    text-align: start;
    text-decoration: none;
    margin: 10px;  
}

.btn-return:hover{
    background-color:#5e666d;
    color: #000000;
}
