*{margin:0px; padding:0px;}
.padre{width:400px; height:400px; display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content:flex-start;
        background-color:skyblue;}
.hijo{background-color:sandybrown; width:90px; height:120px;
      margin-top:3px; margin-left:3px;
      display: flex; justify-content: center;
      align-items: center;}
.hijo:nth-child(even){background-color:red}
.hijo:nth-child(1), .hijo:nth-child(2){height:140px}
