* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
}
/*---------------Formularios---------------*/
.container {
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    margin: 0 auto;
    /*justify-content: center;  
    align-items: center;*/
    /*max-width: 600px;*/
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    background-color: #bc0723;
    color: white;
    padding: 12px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    /*float: right;*/
}

.group {
    width: 100%;
    margin: 10px;
}

.form-row {
    display: flex;
}

/*---------------Tablas---------------*/

table {
    width: 80%;
    background-color: #f2f2f2;
    margin: 0 auto;
    border-collapse: collapse;
}

thead th{
    background-color: #bc0723;
    border: 1px solid #000000;
    padding: 8px;
}

tbody td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

td a {
    color:#fff;
    background-color: #6c757d;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

/*---------------Menu---------------*/

ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #bc0723;
}

li {
    float: left;
}

@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }

    /*---------------Formularios---------------*/
    .input[type=text] {
      width: 100%;
      margin-top: 0;
    }

    .form-row {
        display: block;
    }

    .group {
        width: 100%;
        margin: 0px;
    }

    .container {
        width: 100%;
    }

    /*---------------Tablas---------------*/

    thead td {
        display: block;
    }

    tbody td {
        padding: 5px;
    }

    table {
        width: 100%;
        font-size: 10px;
        /*box-sizing: border-box;*/
    }

    td a {
        display: inline-block;
        padding: 2px;
        margin: 2px;
    }
  }

@media screen and (max-width: 700px) {
    /*---------------Formularios---------------*/
    .container {
        width: 100%;
    }
  }