* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
}
/*---------------Formularios---------------*/
.container {
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    margin: 0 auto;
    /*justify-content: center;  
    align-items: center;*/
    /*max-width: 600px;*/
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    /*display: inline-block;*/
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }

input[type=submit] {
    background-color: #bc0723;
    color: white;
    padding: 12px 20px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    /*float: right;*/
}

.group {
    width: 100%;
    margin: 10px;
}

.form-row {
    display: flex;
}

/*---------------Tablas---------------*/

table {
    width: 80%;
    background-color: #f2f2f2;
    margin: 0 auto;
    border-collapse: collapse;
}

thead th{
    background-color: #bc0723;
    border: 1px solid #000000;
    padding: 8px;
}

tbody td{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

td a {
    color:#fff;
    background-color: #6c757d;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

/*---------------Menu---------------*/

ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #bc0723;
}

li {
    float: left;
}

.icon{
    display: none;
}

li a, .dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    /*padding: 12px 16px;*/
    text-decoration: none;
}

li.dropdown {
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    /*text-align: left;*/
}

.dropdown-content A:hover {
    background-color: white;
}

/*pendiente RESPONSIVE*/
.dropdown:hover .dropdown-content {
    display: block;
} 

.rightli {
    float: right;
}

@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }

    /*---------------Formularios---------------*/
    .input[type=text] {
      width: 100%;
      margin-top: 0;
    }

    .form-row {
        display: block;
    }

    .group {
        width: 100%;
        margin: 0px;
    }

    .container {
        width: 100%;
    }

    /*---------------Tablas---------------*/

    thead td {
        display: block;
    }

    tbody td {
        padding: 5px;
    }

    table {
        width: 100%;
        font-size: 10px;
        /*box-sizing: border-box;*/
    }

    td a {
        display: inline-block;
        padding: 2px;
        margin: 2px;
    }

    /*---------------menu---------------*/
    
    li {
        float: none;
        width: 100%;
    }

    li.dropdown {
        display: block;
    }

    .active {
        display: inline-block;
        color: white;
        text-align: center;
        padding: 20px 18px;
    /*padding: 12px 16px;*/
        text-decoration: none;
    }

    li a, .dropbtn {
        width: 100%;
        padding: 15px 14px;
        text-decoration: none;
        display: none;
    }
    .icon {
        float: right;
        display: block;
        position: relative;
    }

    .dropdown:hover .dropdown-content {
        display: block;
        width: 100%;
    } 

    .dropdown-content {
        position: relative;
    }
  }

@media screen and (max-width: 700px) {
    /*---------------Formularios---------------*/
    .container {
        width: 100%;
    }
  }