* {
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
    margin: 0;
}

/*---------------Login---------------*/

.login {
    width: 30%;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    margin: 0 auto;
}

.logo img{
    width: 100%;
}

/*---------------Formularios---------------*/

h1 {
    text-align: center;
    padding: 10px;
}

.container {
    width: 50%;
    border-radius: 10px;
    padding: 20px;
    background-color: #f2f2f2;
    margin: 0 auto;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    background-color: #bc0723;
    color: white;
    padding: 9px 9px;
    border: 1px solid #000000;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.group {
    width: 100%;
    margin: 10px;
}

.form-row {
    display: flex;
}


/*---------------Tablas---------------*/

table {
    width: 100%;
    background-color: #f2f2f2;
    margin: 0 auto;
    border-collapse: collapse;
}

thead th {
    background-color: #bc0723;
    border: 1px solid #000000;
    padding: 8px;
    color: #ffff;
}

tbody td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tbody tr:nth-child(odd) {
    background-color: #fff;
}

tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}

td a {
    color: #fff;
    background-color: #6c757d;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}

.return {
    color: #fff;
    background-color: #6c757d;
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px;
    text-decoration: none;
}


/*---------------Menu---------------*/

ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #bc0723;
}

li {
    float: left;
}

.icon {
    display: none;
}

.active {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}

li a,
.dropbtn {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 20px 18px;
    text-decoration: none;
}

li.dropdown {
    display: inline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: whitesmoke;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content A:hover {
    background-color: white;
}


/*pendiente RESPONSIVE*/

.dropdown:hover .dropdown-content {
    display: block;
}

.rightli {
    float: right;
}

/*---------------Modal---------------*/
.modal {
    display: none;
}

.modal-content {
    position: relative;
}

@media screen and (max-width: 600px) {
    * {
        box-sizing: border-box;
    }
    /*---------------Login---------------*/
    .login {
        width: 80%;
        border-radius: 10px;
        padding: 20px;
        background-color: #f2f2f2;
        margin: 0 auto;
    }

    /*---------------Formularios---------------*/
    .input[type=text] {
        width: 100%;
        margin-top: 0;
        font-size: .8em;
    }

    .form-row {
        display: block;
    }

    .group {
        width: 100%;
        margin: 0px;
    }

    .container {
        width: 90%;
    }
    /*---------------Tablas---------------*/
    /*thead td {
        display: block;
    }*/

    tbody td {
        padding: 5px;
    }

    table {
        width: 90%;
        font-size: .8em;
        display: block;
        overflow-x: auto;
    }
    td a {
        display: inline-block;
        padding: 2px;
        margin: 2px;
    }

    .return {
        /*display: inline-block;
        padding: 2px;
        margin: 2px;*/
        font-size: .8em;
    }

    /*---------------menu---------------*/
    .mytopNav.responsive {
        position: relative;
    }

    .mytopNav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .mytopNav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .dropdown-content {
        display: none;
        position: relative;
    }

    .open {
        display: block;
        position: relative;
    }

    li {
        float: none;
    }

    li .icon {
        display: block;
        float: right;
    }

    li a, .dropbtn {
        display: none;
    }

    .active {
        display: block;
        float: left;
    }
}